.searchbar{
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--font-color);
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 15px;
    flex: 1 1 auto;
}

.searchbar::-webkit-input-placeholder{
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--icon-color);
}

.search_container{
    background-color: var(--shade2);
    margin: 10px 15px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.searchbar_container{
    display: flex;
    height: 40px;
}

.filter_container{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.filter-button{
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

.filter-button>div>svg{
    display: block;
    width: 25px;
    height: 25px;
}

.filter-button:active{
    transform:scale(.9, .9);
    transition: transform .5s;
}

.filter-button:active>div>svg>g>*{
    filter:drop-shadow(0 0 10px var(--red));
    fill:var(--red);
}

.filter-button>div>svg>g>*{
    fill:var(--icon-color);
}

.gamecard>table>tr>td{
    font-family: Roboto, sans-serif;
    color: var(--font-color);
    font-size: large;
    border: none;
}

.gamecard>table{
    font-family: Roboto, sans-serif;
    width: 100%;
    color: var(--font-color);
    font-size: large;
}

.gamecard{
    background-image: linear-gradient(-45deg, var(--red2), var(--red));
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 0 15px 10px 15px;
    margin: 10px 15px;
}