.searchbar{
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--font-color);
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.searchbar_form{
    margin: 0 15px;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.searchbar::-webkit-input-placeholder{
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--icon-color);
}

.search_container{
    background: var(--shade2);
    margin: 20px 20px 10px 20px;
    border-radius: var(--radius);
    backdrop-filter: var(--bdfilter);
    overflow: hidden;
    box-shadow: var(--shadow);
}

.searchbar_container{
    display: flex;
    width: fit-content;
    margin: 0;
    width: 100%;
    height: 40px;
}

.filter_container{
    margin-left: 15px;
    margin-right: 15px;
}

.filter-button{
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
    margin: 5px;
    border: none;
    border-radius: 100vmax;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-image:linear-gradient(var(--red), var(--red2));
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2), 0px 0px 25px transparent, 0px 0px 5px var(--middle);
    vertical-align:bottom;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.filter-button>div>svg{
    display: block;
    width: 25px;
    height: 25px;
    align-self: center;
}

.filter-button:active{
    transform:scale(.9, .9);
    transition: transform .5s;
}

.filter-button:active>div>svg>g>*{
    filter:drop-shadow(0 0 10px var(--red));
    fill:var(--red);
}

.filter-button>div>svg>g>*{
    fill:#fff;
}

.gamecard_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: min-content;
    grid-gap: 25px;
    margin: 25px 25px;
}

.gamecard{
    overflow: hidden;
    background: var(--shade2);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.criteria_container{
    flex: 1 1 auto;
    margin: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fit, min-content);
}

.criteria{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.025);
    border-radius: var(--radius);
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criteria_vertical_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    hyphens: auto;
    overflow: hidden;
    flex: 1 1 auto;
}

.criteria_title{
    color: lightgray;
    font-size: 16px;
}

.criteria_value{
    width: 100%;
    box-sizing: border-box;
    height: 22px;
    border-radius: 100vmax;
    box-shadow: inset 2px 3.5px 10px rgba(0, 0, 0, 0.2);
    padding: 6px;
}

.criteria_value>div{
    border-radius: 100vmax;
    width: 100%;
    height: 100%;
    min-width: 10px;
    background-image:linear-gradient(var(--red), var(--red2));
}

.criteria_val{
    color: transparent;
    background-image: linear-gradient(var(--red), var(--red2));
    background-clip: text;
    font-family: Ubuntu, sans-serif;
    font-size: 32px;
    text-align: center;
}

.criteria_val.onlytext{
    color: transparent;
    background-image: linear-gradient(var(--red), var(--red2));
    background-clip: text;
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    text-align: center;
    hyphens: auto;
    overflow: hidden;
    width: 100%;
}

.filter_buttons_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.filter_buttons_container *{
    overflow: visible;
}

.filter_buttons_container>button{
    line-height: 40px;
    padding: 0px 14px;
    margin: 5px;

    border: none;
    border-radius: 100vmax;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-image:linear-gradient(var(--red), var(--red2));
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2), 0px 0px 25px transparent, 0px 0px 5px var(--middle);
    
    transition: box-shadow 0.5s, background-color 0.5s;
}

.filter_buttons_container>button:active{
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px var(--middle);
  }

.addgame_btn{
    line-height: 16px;
    padding: 0px 14px;
    margin: 5px;

    border: none;
    border-radius: 100vmax;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-image:linear-gradient(var(--red), var(--red2));
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2), 0px 0px 25px transparent, 0px 0px 5px var(--middle);
    vertical-align:middle;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.addgame_btn:active{
    transform:scale(.9, .9);
    transition: transform .5s;
}

.addgame_btn:active>p{
    text-shadow: 0 0 10px var(--red);
    color:var(--red);
    transition: color .5s text-shadow .5s;
}

.new_game_dialogue{
    display: flex;
    flex-direction: column;
    background-color: var(--shade2);
    width: 450px;
    height: 500px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0px;
}

.gamecard .input_container{
    box-shadow: none;
    margin: none;
    padding: none;
    flex: 1 1 auto;
    border-radius: 0px;
    overflow-y: visible;
    
}

.gamecard .btn_container{
    flex: 0 0 auto;
    display: block;
    box-shadow: none;
    margin: none;
    padding: none;
    width: 100%;
    height: 60px;
    border-radius: 0px;
    margin-top: 10px;
}

.gamecard .rest{
    box-shadow: none;
    margin: none;
    padding: none;
    border-radius: 0px;
    flex: 0 0 auto;
    height: min-content;
}

.gamecard .btn_container button{
    font-family: Ubuntu, Roboto, sans-serif;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    transform: scaleY(1);
    background-color: transparent;
    border: none;
    color: var(--icon-color);
}

.new_game_text_input{
    display: block;
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--font-color);
    padding: 0px 10px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 5px;
    border-left: 5px solid var(--middle);
    background-color: rgba(255, 255, 255, 0.025);
    width: max-content;
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.1);
}

.new_game_text_input::-webkit-input-placeholder{
    font-size:16px;
    font-family: Roboto, sans-serif;
    color: var(--icon-color);
}

.new_game_text_input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.new_game_text_input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input.new_game_text_input[type=number]{
    -moz-appearance: textfield;
}