:root{
    --red:#ff2655;
    --red2:#ff2692;
    --background:rgb(30, 30, 30);
    --shade1:rgb(40, 40, 40);
    --shade2:rgb(50, 50, 50);
    --shade3:rgb(60, 60, 60);
    --border:rgb(70, 70, 70);
    --font-color:white;
    --icon-color:#999999;
    --radius:20px;
    --searchbar-width:315px;
}

/* @media (prefers-color-scheme: dark){
    :root{
        --red:#00ffd5;
        --red2:#0077ff;
        --background:rgb(230, 230, 230);
        --shade1:rgb(40, 40, 40);
        --shade2:rgb(255, 255, 255);
        --shade3:rgb(230, 230, 230);
        --border:rgb(220, 220, 220);
        --font-color:rgb(0, 0, 0);
        --icon-color:#999999;
    }
} */

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

.noselection{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.pagecontainer{
    width: 100%;
    overflow-y: scroll;
    flex: 1 1 auto;
}
#root{
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    background-color: var(--background);
}

g>*{
    transition: fill .2s;
}

/* Container für die Navigationsknöpfe */
.tabs{
    background-color: var(--shade2);
    width: 100%;
    flex: 0 1 50px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content:space-around;
}

/* Navigationsknopf */
.tabs_icon{
    background-color: transparent;
    border: none;
    width: 33.333%;
    height: 50px;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Schneidet svg auf tatsächliche größe zu */
.tabs_icon>div>svg{
    display: block;
    width: 25px;
    height: 25px;
}

.tabs_icon:active{
    transform:scale(.9, .9);
    transition: transform .25s;
}

.tabs_icon:active>div>svg>g>*{
    filter:drop-shadow(0 0 10px var(--red));
    fill:var(--red);
}

.tabs_icon>div>svg>g>*{
    fill:var(--icon-color);
}

p{
    font-size: 16px;
    line-height: 0px;
    font-family: Roboto, sans-serif;
    color:var(--font-color);
}

h1{
    font-size:large;
    font-family: Roboto, sans-serif;
    color:var(--font-color);
}

.center{
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    margin: 0;
    background-color: var(--border);
}

.slider{
    -webkit-appearance: none;
    position: relative;
    background-image: linear-gradient(to right, var(--red), var(--red2));
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 10000px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: transparent;
    cursor:pointer;
    border-radius: 100%;
    box-shadow: 100vw 0 0 calc(100vw - 7.5px) var(--shade3);
}