#root{
    --red:rgb(75, 237, 243);
    --red2:rgb(75, 162, 243);
    --middle:rgb(75, 200, 243);
    --background:rgb(45, 45, 45);
    --shade1:rgb(20, 20, 20);
    --shade2:rgb(50, 50, 50);
    --shade3:rgb(52 52, 52);
    --border:rgb(65, 65, 65);
    --font-color:white;
    --icon-color:#999999;
    --radius:20px;
    --shadow:2.5px 5px 10px rgba(0, 0, 0, 0.25);
    --searchbar-width:315px;
    --bdfilter:blur(25px);

    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    background: var(--background);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    flex: 1 1 auto;
}

*{
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Medium.ttf);
}

.noselection{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: var(--background);
}

.pagecontainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--background);
}

.pagecontainer.hidden{
    display: none;
}

g>*{
    transition: fill .2s;
}

/* Container für die Navigationsknöpfe */
.tabs{
    background: var(--shade2);
    width: 100%;
    flex: 0 1 50px;
    display: flex;
    justify-content:space-around;
    box-shadow: var(--shadow);
}

/* Navigationsknopf */
.tabs_icon{
    background: transparent;
    border: none;
    width: 33.333%;
    height: 50px;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Schneidet svg auf tatsächliche größe zu */
.tabs_icon>div>svg{
    display: block;
    width: 25px;
    height: 25px;
}

.tabs_icon:active{
    transform:scale(.9, .9);
    transition: transform .25s;
}

.tabs_icon:active>div>svg>g>*{
    filter:drop-shadow(0 0 10px var(--red));
    fill:var(--red);
}

.tabs_icon>div>svg>g>*{
    fill:var(--icon-color);
}

p{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color:lightgrey;
}

h1{
    font-size:25px;
    font-weight: bolder;
    font-family: Ubuntu, sans-serif;
    font-weight:normal;
    color: transparent;
    background-image: linear-gradient(var(--red), var(--red2));
    background-clip: text;
}

.center{
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    margin: 0;
    background: var(--border);
}

.slider{
    -webkit-appearance: none;
    position: relative;
    background:var(--red);
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 10000px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: transparent;
    cursor:pointer;
    border-radius: 100%;
    box-shadow: 100vw 0 0 calc(100vw - 7.5px) var(--shade3);
}

.slider_wrapper{
    box-sizing: border-box;
    height: 22px;
    padding: 6px 11px 6px 11px;
    border-radius: 100vmax;
    box-shadow: inset 2px 3.5px 10px rgba(0, 0, 0, 0.2);
}

.color{
    background: transparent;
    border: none;
    height: 100px;
    width: 100px;
}

.color::-webkit-color-swatch{
    border-radius: 10px;
    border: none;
}

.color::-webkit-color-swatch-wrapper{
    padding: none;
}

form{width: 0px; height: 0px;}

*{
    caret-color: var(--icon-color);
}

*::-webkit-scrollbar{
    background-color: transparent;
    width: 15px;
}

*::-webkit-scrollbar-track{
    background-color: transparent
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 100vh;
}